<div class="creationform">
<%= simple_form_for(@creation) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :image%>
  <%= f.input :first_photo %>
  <%= f.input :second_photo %>

<%= f.submit class: 'btn btn-primary' %>
<% end %>
</div>
