<div class="link">
  <%= link_to 'On her way', root_path %>
</div>

<div class="links">
  <%= link_to 'Charles Durand', about_path %>, <%= link_to 'Cards', creations_path %>
</div>

<div class="cards">
  <% @creations.each do |creation|%>
    <% if creation.title == 'Creation 2' %>
        <div class="card1">
          <%= creation.first_photo %>
            <div class="creations">
              <%= link_to creation.title, creation_path(creation) %>
                <% if current_user %>
              <%= link_to 'Edit', edit_creation_path(creation)  %>
              <% end %>

            </div>
        </div>
    <% else creation.title == 'Creation 3' %>
      <div class="card2">
          <%= creation.first_photo %>
            <div class="creations">
              <%= link_to creation.title, creation_path(creation) %>
              <% if current_user %>
              <%= link_to 'Edit', edit_creation_path(creation)  %>
              <% end %>
            </div>
        </div>
    <% end %>

  <% end %>
</div>



<div class="footer">
<a href="https://www.instagram.com/charlesdur.nd/" style='font-size:15px'>instagram</a>, <a href="mailto: hi@charlesdurand.com" style='font-size:15px'>contact</a></ul>
</div>




