<div class="link">
  <%= link_to 'On her way', root_path %>
</div>

<div class="links">
  <%= link_to 'Charles Durand', about_path %>, <%= link_to 'Cards', creations_path %>
</div>


<div class="show">
  <div class="tour">
    <%= render partial: 'shared/svgs/tour' %>
      <h1><%= @creation.title %></h1>
      <p><%= @creation.description %></p>
  </div>


  <div class="photo1">
    <%= @creation.first_photo %>
  </div>

  <div class="photo2">
    <%= @creation.second_photo %>
  </div>
</div>


<div class="footer">
<a href="https://www.instagram.com/charlesdur.nd/" style='font-size:15px'>instagram</a>, <a href="mailto: hi@charlesdurand.com" style='font-size:15px'>contact</a></ul>
</div>

