<div class="link">
  <%= link_to 'On her way', root_path %>
</div>

<div class="links">
  <%= link_to 'Charles Durand', about_path %>, <%= link_to 'Cards', creations_path %>
</div>


<div class="show">
  <div class="tour">
    <%= render partial: 'shared/svgs/tour' %>
      <h1><%= @creation.name %></h1>
        <% if current_user %>
          <div class="edit">
            <%= link_to 'Edit', edit_creation_path(@creation)  %>
          </div>
        <% end %>
      <p><%= @creation.description %></p>
  </div>


  <div class="photo1">
    <% @creation.photos.last(2).each do |photo| %>
    <div class="photo2">
      <%= cl_image_tag photo.key, crop: :fill %>
    </div>
    <% end %>
  </div>

</div>


<div class="footer-show">
  <a href="https://www.instagram.com/charlesdur.nd/">instagram</a>, <a href="mailto: hi@charlesdurand.com">contact</a></ul>
</div>

